body {
  background-color: #F7F2F7;
  word-wrap: initial;
  margin:  25px;
}

a#title {
  font-size:64px;
  text-decoration:none;
  color:#3f0059;
}

a.direct {
  font-size:24px;
  text-decoration:none;
  color:#8e00a1;
}

a.about {
  font-size:24px;
  text-decoration:none;
  color:#af00b5;
}

a, h1 {
  font-family: 'Roboto Slab', serif;
}